<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @shop.latitude %>
</p>

<p>
  <strong>Langitude:</strong>
  <%= @shop.langitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @shop.url %>
</p>

<p>
  <strong>Sun time:</strong>
  <%= @shop.sun_time %>
</p>

<p>
  <strong>Mon time:</strong>
  <%= @shop.mon_time %>
</p>

<p>
  <strong>Tue time:</strong>
  <%= @shop.tue_time %>
</p>

<p>
  <strong>Web time:</strong>
  <%= @shop.web_time %>
</p>

<p>
  <strong>Thu time:</strong>
  <%= @shop.thu_time %>
</p>

<p>
  <strong>Fri time:</strong>
  <%= @shop.fri_time %>
</p>

<p>
  <strong>Sta time:</strong>
  <%= @shop.sta_time %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
