
<% @shop.each do |shop_i|%>
<div id=shop_i_tag>
  <div id=shop_i_image>
    <%= image_tag(shop_i.image) %>
  </div>
  <p id=shop_i_text>
  <%= shop_i.name %>
  <%= shop_i.tel %>
  <%= link_to "食べログ",shop_i.url %>
  <%= shop_i.place %>
  <%= shop_i.sun_time %>
  <%= shop_i.mon_time %>
  <%= shop_i.tue_time %>
  <%= shop_i.web_time %>
  <%= shop_i.thu_time %>
  <%= shop_i.fri_time %>
  <%= shop_i.sta_time %>

</p>
</shop_i_tag>
<% end %>
</ul>
<%= Time.now %>
