<% week_day = make_now_week() %>
<% @open_shop_time.each do |shop_i|%>
<div id=shop_i_tag>


  <p id=shop_i_text>

    <%= shop_i.place %>
    <% if week_day == "Sunday"%>
      <%st_time,end_time =  set_time(shop_i.sun_time) %>
    <% elsif week_day == "Monday" %>
      <% st_time,end_time = set_time(shop_i.mon_time) %>
    <% elsif week_day == "Tuesday"%>
      <% st_time,end_time = set_time(shop_i.tue_time) %>
    <% elsif week_day == 'Wednesday'%>
      <p><% st_time,end_time = set_time(shop_i.web_time) %></p>
    <% elsif week_day == "Thursday"%>
      <% st_time,end_time = set_time(shop_i.thu_time) %>
    <% elsif week_day == "Friday"%>
      <% st_time,end_time = set_time(shop_i.fri_time) %>
    <% elsif week_day == "Saturday"%>
      <% st_time,end_time = set_time(shop_i.sta_time) %>
    <% end %>

    <% if st_time != nil%>
      <%= shop_i.name %>
      <div id=shop_i_image>
        <%= image_tag(shop_i.image) %>
      </div>
      <%= link_to "食べログ",shop_i.url %>
      営業時間:<%=st_time%> 〜 <%= end_time %>
    <% end %>
  </p>
</shop_i_tag>
<% end %>
</ul>
