<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @storeinfo.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @storeinfo.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @storeinfo.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @storeinfo.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @storeinfo.url %>
</p>

<p>
  <strong>Sun time:</strong>
  <%= @storeinfo.sun_time %>
</p>

<p>
  <strong>Mon time:</strong>
  <%= @storeinfo.mon_time %>
</p>

<p>
  <strong>Tue time:</strong>
  <%= @storeinfo.tue_time %>
</p>

<p>
  <strong>Web time:</strong>
  <%= @storeinfo.web_time %>
</p>

<p>
  <strong>Thu time:</strong>
  <%= @storeinfo.thu_time %>
</p>

<p>
  <strong>Fri time:</strong>
  <%= @storeinfo.fri_time %>
</p>

<p>
  <strong>Sta time:</strong>
  <%= @storeinfo.sta_time %>
</p>

<%= link_to 'Edit', edit_storeinfo_path(@storeinfo) %> |
<%= link_to 'Back', storeinfos_path %>
