<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @store.latitude %>
</p>

<p>
  <strong>Langitude:</strong>
  <%= @store.langitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @store.url %>
</p>

<p>
  <strong>Sun time:</strong>
  <%= @store.sun_time %>
</p>

<p>
  <strong>Mon time:</strong>
  <%= @store.mon_time %>
</p>

<p>
  <strong>Tue time:</strong>
  <%= @store.tue_time %>
</p>

<p>
  <strong>Web time:</strong>
  <%= @store.web_time %>
</p>

<p>
  <strong>Thu time:</strong>
  <%= @store.thu_time %>
</p>

<p>
  <strong>Fri time:</strong>
  <%= @store.fri_time %>
</p>

<p>
  <strong>Sta time:</strong>
  <%= @store.sta_time %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
